<div *ngIf="cartItems.length > 0; else emptyCart">
  <h2>Il tuo carrello</h2>

  <!-- Tabella con i dettagli dei prodotti nel carrello -->
  <table class="cart-table">
    <thead>
      <tr>
        <th>Prodotto</th>
        <th>Prezzo</th>
        <th>Quantità</th>
        <th>Totale</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <div class="cart-product-details">
            <img [src]="item.image" alt="{{item.name}}" class="product-image" />
            <span>{{ item.name }}</span>
          </div>
        </td>
        <td>{{ item.price | currency:'EUR' }}</td>
        <td>
          <!-- Input per aggiornare la quantità -->
          <input type="number" [(ngModel)]="item.quantity" (input)="updateQuantity(item.id, item.quantity)" min="1" />
        </td>
        <td>{{ item.price! * item.quantity! | currency:'EUR' }}</td>
        <td>
          <!-- Pulsante per rimuovere l'articolo dal carrello -->
          <button (click)="removeFromCart(item.id)">Rimuovi</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Subtotale -->
  <div class="cart-summary">
    <h3>Subtotale: {{ subtotal | currency:'EUR' }}</h3>
    <button class="checkout-button">Procedi all'acquisto</button>
  </div>
</div>

<!-- Messaggio per carrello vuoto -->
<ng-template #emptyCart>
  <div class="empty-cart">
    <h2>Il tuo carrello è vuoto</h2>
    <p>Aggiungi prodotti per procedere all'acquisto.</p>
  </div>
</ng-template>
